<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigboss.bigboss">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application

        android:usesCleartextTraffic="true"
        android:name=".Bean"
        android:allowBackup="true"
        android:icon="@drawable/man"
        android:label="@string/app_name"
        android:roundIcon="@drawable/man"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".SignUp" />
        <activity android:name=".Forgot" />
        <activity android:name=".ChangePAssword" />
        <activity android:name=".Login" />
        <activity android:name=".signupLogin" />
        <activity android:name=".Location" />
        <activity android:name=".CollerTshirt" />
        <activity android:name=".MeansCategory" />
        <activity android:name=".SingleProduct" />
        <activity android:name="Videoplayer" />
        <activity android:name=".WristWatch" />
        <activity android:name=".Playitem" />
        <activity android:name=".Notification" />
        <activity android:name=".Search" />
        <activity android:name=".MyProfile" />
        <activity android:name=".MyOrder" />
        <activity android:name=".WishList" />
        <activity android:name=".Setting" />
        <activity android:name=".EditProfile" />
        <activity android:name=".SteamVideoPlayer" />
        <activity android:name=".tab" />
        <activity android:name=".ShopMens" />
        <activity android:name=".ShopCollershirt" />
        <activity android:name=".ShopSingleProduct" />
        <activity android:name=".OneMenswear" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sliders" />
        <activity android:name=".Youtube">


        </activity>



    </application>

</manifest>