<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sc.bigboss.bigboss">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".Bean"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatusActivity2"></activity>
        <activity android:name=".OrderDetails" />
        <activity
            android:name=".ProductList4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WristWatch2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleProduct2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductList3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ProductList2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubCat2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubCat3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Perks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Winners"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePAssword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signupLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollerTshirt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollerTshirt2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeansCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Videoplayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WristWatch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Playitem"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WishList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SteamVideoPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tab"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopMens"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopCollershirt"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopSingleProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneMenswear"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sliders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Youtube"
            android:screenOrientation="portrait" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/man" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>